 .link-button {
   background: none;
   border: none;
   color: #0d6efd;
   cursor: pointer;
   text-decoration: underline;
 }
 a:hover, .link-button:hover{
  color: blue;
 }
 body{
  background-color: white !important;
  color: green !important;
 }